// Color Variables

$whiteColor: #ffffff;
$blueColor: #5498a9;
$redColor: #f03829;
$violetColor: #665f62;

//Mixin
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center; 
}
@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h2 {
    color: $whiteColor;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
}

.section-button {
    height: 60vh;
    background-color: $blueColor;
    @include flexCenter;
    flex-direction: column;
    .counter-box {
        display: flex;
    }
    .reset{
        margin-top: 30px;    
    }
    .type-button {
        margin: 20px;
        @include flexCenter;
        .type-text {
            margin-right: 20px;
        }
        .submit-button {
            background-color: $redColor;
            color: $whiteColor;
            border: 0;
            width: 250px;
            height: 50px;
            font-size: 1.2rem;
            text-align: center;
            padding: 5px;
        }
    }
}

input {
    border: 0;
    width: 250px;
    height: 50px;
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
}

input[type="button"] {
    background-color: $redColor;
    color: $whiteColor;
    cursor: pointer;
    border: 1px solid $blueColor;
}

input[type="number"] {
    background-color: $whiteColor;
    color: $redColor;
}

.section-square {
    @include flexCenter;
    height: calc(100vh - 60vh);
    background-color: $violetColor;
    .square {
        display: flex;
        align-items: center;
        max-width: 200px;
        max-height: 200px;
        background-color: $redColor;
        .score-button {
            background-color: $redColor;
            color: $whiteColor;
            max-width: 200px;
        }
    }
}

@media screen and (max-width: 995px) , screen and (max-height: 700px) {
    form {
        display: flex;
        flex-direction: column;
    }

    h2 {
        text-align: center;
    }

    .square {
        width: 100px;
        height: 100px;
    }
  
    .score-button {
        width: 100px;
        height: 100px;
        font-size: 0.8rem;
    }

    .submit-button {
        min-height: 40px;
    }
}